<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1 class="page-header">Moja Košarica</h1>
    </div>
</div>
<div class="row" data-ng-controller="CartController">
    <div class="col-sm-6" data-ng-if="items.length > 0">
        <order-directive></order-directive>
    </div>
    <div class="col-sm-6 ">
        <table class="table table-responsive table-condensed table-bordered table-striped">
            <thead>
                <tr class="table-header">
                    <th>Izdelek</th>
                    <th>Količina</th>
                    <th>Cena</th>
                    <th>Vrednost</th>
                </tr>
            </thead>
            <tbody class="bg-info">
                <tr data-ng-repeat="item in items">
                    <td><a ui-sref="productDetails({productId: item.product.id})">{{ item.product.product_name }}</a></td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price | number: 2 }}</td>
                    <td>{{ item.total | number: 2 }}</td>
                </tr>
            </tbody>
        </table>
        <div class="well pull-right">
            <h3>Skupaj {{ cartTotal | number: 2 }} EUR</h3>
        </div>
    </div>
</div>
