<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h3>Najboljši izdelki po najugodnejših cenah</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <categories-directive></categories-directive>
    </div>
</div>
<br>
<div class="row">
    <div class="progress col-sm-6 col-sm-offset-3" data-ng-show="loading">
        <div class="progress-bar active progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">20% Complete</span>
            Loading...
        </div>
    </div>
    <p class="col-sm-6 col-sm-offset-3 info-box" data-ng-hide="loading">
        <span class="text-bold">Iskalnik izdelkov</span>
        <input type="text" name="query" id="query" data-ng-model="query" placeholder="Search products by name" class="form-control">
    </p>
    <div class="col-sm-6 col-md-4" data-ng-repeat="product in products">
        <div class="thumbnail">
            <img data-ng-src="{{ product.image }}">
            <div class="caption">
                <h3>{{ product.name }}</h3>
                <h4 class="pull-right">Cea: {{ product.price | number: 2 }} EUR</h4>
                <br>
            </div>
            <p>
                <a ui-sref="productDetails({productId: product.id })" class="btn btn-primary" role="button">
                    <span class="glyphicon glyphicon-menu-right"></span> Podrobnosti
                </a>
            </p>
            <div class="well">
                <add-to-cart-directive id="product"></add-to-cart-directive>
            </div>
        </div>
    </div>
</div>