<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1 class="page-header">Hvala za nakup</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span>
            Uspešno ste oddali naročilo. Server response message: <span class="text-bold">{{ OrderCtrl.resData.msg }}</span>
        </div>
    </div>
</div>
<!-- order review -->
<div class="row">
    <div class="col-sm-4">
        <div class="info-box">
            <h3>Kupec</h3>
            {{ OrderCtrl.orderDetails.firstName }} {{ OrderCtrl.orderDetails.lastName }} <br>
            {{ OrderCtrl.orderDetails.address }} <br>
            {{ OrderCtrl.orderDetails.zip }} {{ OrderCtrl.orderDetails.city }} <br>
            {{ OrderCtrl.orderDetails.country }}
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-8">
        <table class="table table-responsive table-bordered table-striped table-condensed">
            <thead>
            <tr class="table-header">
                <th>Izdelek</th>
                <th>Količina</th>
                <th>Cena €</th>
                <th>Vrednost €</th>
            </tr>
            </thead>
            <tbody class="table-data">
            <tr data-ng-repeat="item in OrderCtrl.products">
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.total }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- buyers message  -->
<div class="row" data-ng-if="OrderCtrl.orderDetails.message">
    <div class="col-sm-6">
        <div class="message-box">
            <p class="text-bold">
                Vaše spročilo:
            </p>
            {{ OrderCtrl.orderDetails.message }}
        </div>
    </div>
</div>
<hr>
<!-- back button -->
<div class="row">
    <button class="btn btn-danger" data-ng-click="OrderCtrl.orderComplete()">Nazaj</button>
</div>