body {
    padding-bottom: 50px;
}

.text-bold{
    font-weight: bold;
}

.info-box{
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: lightcyan;
}

.table-header{
    color: white;
    font-weight: bold;
    background-color: #23527c;
}

.on-sale{
    color: red;
    font-weight: bolder;
}