
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1 class="page-header">Abourt E-shop</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="info-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut corporis cum deleniti
                    deserunt dolore expedita explicabo impedit ipsam laudantium optio perferendis placeat rem,
                    repudiandae suscipit temporibus totam vero voluptate!</p>
                <p>At, deleniti, quaerat. Accusamus accusantium blanditiis commodi cupiditate deleniti error et,
                    exercitationem explicabo fuga inventore ipsa iure, libero, magnam molestias mollitia nemo nihil
                    officia omnis quaerat ratione saepe sequi vel.</p>
                <p>Accusantium autem natus neque nobis perferendis provident repudiandae rerum unde? Animi beatae
                    deleniti dolorem doloremque, ducimus eius enim eveniet in ipsam maxime minima officiis perferendis
                    provident quasi reiciendis repellendus voluptas!</p>
                <p>Accusantium aperiam consectetur deleniti et provident reiciendis ullam veniam veritatis! Ad alias
                    commodi consectetur, culpa cupiditate deleniti dignissimos doloremque fuga iure necessitatibus
                    nesciunt odio ratione sequi suscipit ut voluptate voluptatum?</p>
            </div>
            <hr>
            <div class="well">
                <span class="text-bold">Copyright &copy; Janko Pirih Oktober 2016</span>
            </div>
        </div>
    </div>
